<div class="panel-header panel-header-lg">
  <%= books_created_at_chart %>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-tasks">
        <div class="card-header">
          <h5 class="card-category">Books</h5>
          <h4 class="card-title">Books by Authors</h4>
        </div>
        <div class="card-body">
          <%= books_by_authors_chart %>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <!-- <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-tasks">
        <div class="card-header">
          <h5 class="card-category">Books</h5>
          <h4 class="card-title">Books by Publishers</h4>
        </div>
        <div class="card-body">
          <%= books_by_publishers_chart %>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <!-- <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>