<%= simple_form_for @publisher do |f| %>
<div class="card-body">
  <%= render "publishers/publisher_fields", f: f %>
</div>
<div class="card-footer text-right">
  <hr>
  <%= link_to 'Back', :back, class: "btn btn-secondary" %>
  <%= f.button :submit, class: "btn btn-primary" %>
</div>
<% end -%>
