<%= render 'layouts/header_sm' %>
<div class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-tasks">
        <div class="card-header">
          <h5 class="card-category">Publishers</h5>
          <h4 class="card-title">Every Publisher</h4>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <% @publishers.each do |publisher| %>
                <tr>  
                  <td>
                    <%= button_to publisher, class: "btn btn-info btn-round btn-icon btn-icon-mini btn-neutral", html_options: {rel: "tooltip", title: ""}, method: :get, data: {"original-title": "Show Publisher"} do %>
                      <%= fa_icon 'eye 2x' %>
                    <% end %>
                  </td>
                  <td class="text-left">
                    <strong><%= publisher.name %></strong>
                    <small></small>
                  </td>
                  <td class="td-actions text-right">
                    <%= button_to edit_publisher_path(publisher), class: "btn btn-info btn-round btn-icon btn-icon-mini btn-neutral", html_options: {rel: "tooltip", title: ""}, method: :get, data: {"original-title": "Edit Publisher"} do %>
                      <%= fa_icon 'edit 2x' %>
                    <% end %>
                    <%= button_to publisher, class: "btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral", html_options: {rel: "tooltip", title: ""}, method: :delete, data: { confirm: 'Are you sure?', "original-title": "Remove"} do %>
                      <%= fa_icon 'trash 2x' %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <hr>          
          <div class="stats">
            <%= link_to 'New Publisher', new_publisher_path %>  
            <!-- <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
