<%= render 'layouts/header_sm' %>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">New Publisher</h5>
        </div>
          <%= render 'form', publisher: @publisher %>
      </div>
    </div>
  </div>
</div>