<%= render 'layouts/header_sm' %>
<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'unknown.jpg', class: "card-img-top", alt: "unknown" %>
        <div class="card-body">
          <h5 class="title"><%= @publisher.name %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            ISBN: <%#= @publisher.isbn %>
          </li>
          <li class="list-group-item">
            Autor: <%#= link_to @publisher.publisher do %>
            <%#= @publisher.publisher.name %>
            <%# end -%>
          </li>
          <li class="list-group-item">
            Verlag: Heine<%#= @publisher.publisher %>
          </li>
          <li class="list-group-item">
            Release: 2018<%#= @publisher.release %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h5>Books from <%=@publisher.name%></h5>
        </div>
        <div class="card-body">
          <div class="list-group">
            <% @publisher.books.each do |book| %>
            <%= link_to book, class: "list-group-item list-group-item-action flex-column align-items-start" do %>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= book.title %></h5>
              <small>Heine (2018)</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small><%= book.isbn %></small>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>