<div class="row">
  <div class="col-md-7">
    <%= f.input :title, label: "Title", placeholder: "e.g. My very first Book" %>
  </div>
  <div class="col-md-5">
    <%= f.input :isbn, label: "ISBN", placeholder: "e.g. 9783161484100" %>
  </div>
</div>
