<%= simple_form_for @book do |f| %>
<div class="card-body">
  <%= render "books/book_fields", f: f %>
  <%= f.simple_fields_for :author do |author| %>
    <div class="row">
      <div class="col-md-12">
        <%= author.input :full_name, label: "Author", placeholder: "e.g. J. K. Rowling",required: true, input_html: {class: "author typeahead"} %>
      </div>
    </div>
  <% end -%>
  <%= f.simple_fields_for :publisher do |publisher| %>
    <div class="row">
      <div class="col-md-12">
        <%= publisher.input :name, label: "Publisher", placeholder: "e.g. Rheinwerk Verlag",required: true, input_html: {class: "publisher typeahead"} %>
      </div>
    </div>
  <% end -%>
</div>
<div class="card-footer text-right">
  <hr>
  <%= link_to 'Back', :back, class: "btn btn-secondary" %>
  <%= f.button :submit, class: "btn btn-primary" %>
</div>
<% end -%>
