<%= render 'layouts/header_sm' %>
<div class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-books">
        <div class="card-header">
          <h5 class="card-category">Books</h5>
          <h4 class="card-title">Your Books</h4>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <% @books.each do |book| %>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-3">
                        <%= link_to book do %>
                          <%= image_tag 'unknown_cover.jpg', alt: "No Cover" %>
                        <% end -%>
                      </div>
                      <div class="col-md-5">
                        <h5><strong><%= book.title %></strong></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<%#= book.description %></p>
                        <small><%= "(2018,#{link_to book.author.display_name ,book.author}, #{link_to book.publisher.name, book.publisher}, ISBN: #{book.isbn})".html_safe %></small>
                      </div>
                    </div>
                  </td>
                  <td class="td-actions text-right">
                    <%= button_to edit_book_path(book), class: "btn btn-info btn-round btn-icon btn-icon-mini btn-neutral", html_options: {rel: "tooltip", title: ""}, method: :get, data: {"original-title": "Edit Book"} do %>
                    <%= fa_icon 'edit 2x' %>
                    <% end %>
                    <%= button_to book, class: "btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral", html_options: {rel: "tooltip", title: ""}, method: :delete, data: { confirm: 'Are you sure?', "original-title": "Remove"} do %>
                    <%= fa_icon 'trash 2x' %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <hr>          
          <div class="stats">
            <%= link_to 'New Book', new_book_path %>  
            <!-- <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
