<div class="fixed-plugin">
  <div class="dropdown show-dropdown">
    <a href="#" data-toggle="dropdown" aria-expanded="false">
      <%= fa_icon 'cog 2x'%>
    </a>
    <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(-231px, -346px, 0px); top: 0px; left: 0px; will-change: transform;">
      <li class="header-title"> Sidebar Background</li>
      <li class="adjustments-line">
        <a class="switch-trigger background-color">
          <div class="badge-colors text-center">
            <span class="badge filter badge-yellow" data-color="yellow"></span>
            <span class="badge filter badge-blue" data-color="blue"></span>
            <span class="badge filter badge-green" data-color="green"></span>
            <span class="badge filter badge-orange active" data-color="orange"></span>
            <span class="badge filter badge-red" data-color="red"></span>
          </div>
          <div class="clearfix"></div>
        </a>
      </li>
    </ul>
  </div>
</div>