<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <%= link_to "Privacy",root_path %>
        </li>
        <li>
          <%= link_to "About",root_path %>
        </li>
        <li>
          <%= link_to "Impressum",root_path %>
        </li>
        <li>
          <%= link_to '#', class: "nav-link" do %>
          <%= fa_icon 'arrow-up', text: "Top" %>
          <p>
            <span class="d-lg-none d-md-block">Top</span>
          </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      <%= Date.today.year %>
      Max 
    </div>
  </div>
</footer>