<div class="sidebar" data-color="orange">
  <div class="logo">
    <%= link_to 'LK', root_path, class: "simple-text logo-mini" %>
    <%= link_to 'Lesekiste', root_path, class: "simple-text logo-normal" %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="<%= "active" if current_page?(root_path)%>">
        <%= link_to root_path do %>
          <%= fa_icon 'home' %>
          <p>Overview</p>
        <% end -%>
      </li>
      <li class="<%= "active" if current_page?(books_path)%>">
        <%= link_to books_path do %>
          <%= fa_icon 'book' %>
          <p>Books</p>
        <% end -%>
      </li>
      <li class="<%= "active" if current_page?(authors_path)%>">
        <%= link_to authors_path do %>
          <%= fa_icon 'users' %>
          <p>Authors</p>
        <% end -%>
      </li>
      <li class="<%= "active" if current_page?(publishers_path)%>">
        <%= link_to publishers_path do %>
          <%= fa_icon 'building' %>
          <p>Publishers</p>
        <% end -%>
      </li>
    </ul>
  </div>
</div>